
<!-- <p> -->
<!-- 	Exporting will export a cleaned sharable dashboard that can be imported -->
<!-- 	into another Grafana instance. -->
<!-- </p> -->

<div class="share-modal-header">
	<div class="share-modal-big-icon">
		<i class="fa fa-cloud-upload"></i>
	</div>
	<div>
		<p class="share-modal-info-text">
      将仪表板导出到JSON文件。 导出器会将仪表板的数据源模板化，以便其他人轻松导入和重用。
			你可以将仪表板分享到 <a class="external-link" href="https://grafana.com">Grafana.com</a>
		</p>

		<div class="gf-form-button-row">
			<button type="button" class="btn gf-form-btn width-10 btn-success" ng-click="ctrl.save()">
				<i class="fa fa-save"></i> 保存到文件
			</button>
			<button type="button" class="btn gf-form-btn width-10 btn-secondary" ng-click="ctrl.saveJson()">
				<i class="fa fa-file-text-o"></i> 查看 JSON
			</button>
			<a class="btn btn-link" ng-click="ctrl.dismiss()">取消</a>
		</div>

	</div>
</div>
